<div class="loyalty-block">
  <div class="loyalty-content">
    <div class="loyalty-heading">
      <p class="loyalty-title">Программа</p>
      <p class="loyalty-subtitle">лояльности</p>
    </div>

    <img src="assets/image/image.svg" alt="Advertisement" class="advertisement-overlay">

    <div class="loyalty-description">
      <div class="loyalty-item">
        <img src="assets/icons/percent.svg" width="12" height="12" alt="percent" aria-hidden="true">
        <p>Бонусные и скидочные программы</p>
      </div>
      <div class="loyalty-item">
        <img src="assets/icons/union.svg" width="12" height="12" alt="union" aria-hidden="true">
        <p>Приветственные бонусы и уровни</p>
      </div>
      <div class="loyalty-item">
        <img src="assets/icons/fire.svg" width="12" height="12" alt="fire" aria-hidden="true">
        <p>Правила сгорания и подтверждения списаний</p>
      </div>
      <div class="loyalty-item">
        <img src="assets/icons/beenhere.svg" width="12" height="12" alt="beenhere" aria-hidden="true">
        <p>Механизмы защиты от злоупотреблений</p>
      </div>
    </div>

    <div class="loyalty-buttons">
      <p-button severity="secondary" size="small" width="48px" height="46px" borderRadius="10px">
        <img src="assets/icons/left_arrow.svg" width="24" height="25" alt="beenhere" aria-hidden="true">
      </p-button>
      <p-button severity="primary" size="small" width="48px" height="46px" borderRadius="10px">
        <img src="assets/icons/right_arrow.svg" width="24" height="25" alt="beenhere" aria-hidden="true">
      </p-button>
    </div>


  </div>
</div>
