<div class="table-container">
  <div class="table-header">
    <h1 class="table-header__title">Таблица клиентов</h1>
    <div class="table-header__description">
      <p class="table-header__text">В этом разделе у вас есть возможность отправлять рассылки, а также</p>
      <p class="table-header__text">редактировать информацию о ваших клиентах.</p>
    </div>
  </div>

  <div class="table-content">
    <p class="table-content__title">Проверьте таблицу клиентов для обновления настроек программы лояльности</p>
    <div class="table-content__description">
      <p class="table-content__text">Чтобы упростить процесс, вы можете загрузить параметры из таблицы с клиентами, чтобы</p>
      <p class="table-content__text">избежать повторной настройки.</p>
    </div>

    <img class="delete" src="assets/icons/delete.svg" width="24" height="24" alt="Таблица клиентов">
  </div>


</div>
