<div class="header-panel">
  <div class="header-content">
    <div class="header-left">
      <p-button severity="secondary" width="52px" height="41px" borderRadius="10px">
        <span class="crm-button">CRM</span>
      </p-button>
      <p-button severity="text" ><span class="api-button">API</span></p-button>
    </div>

    <div class="header-right">
      <p-button severity="text" class="knowledge-button">
        <div class="knowledge-content">
          <img src="assets/icons/knowledge_book.svg" width="16" height="16" alt="Knowledge base" aria-hidden="true">
          <div class="knowledge-text">База знаний</div>
        </div>
      </p-button>

      <div class="user-profile">
        <div class="user-avatar">
          <span>И</span>
        </div>
        <div class="user-info">
          <div class="user-name">Имя</div>
          <div class="user-role">Администратор</div>
        </div>
      </div>
    </div>
  </div>
</div>
