.auth-page {
  display: flex;
  align-items: center;
  justify-content: space-between;


  &__left {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &__right {
    width: 705px;
    height: calc(100vh - 40px);
  }

  @media (max-width: 1180px) {
    &__right {
      display: none;
    }
  }
}
